.form {
  margin-top: 25px;
}

.input-box {
  height: 52px;
  margin: 10px 0;
}

.input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #4285f4;
}

.button {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  background: #4285f4;
  cursor: pointer;
}

.button:hover {
  background: #1367f1;
}

.text {
  color: #333;
  width: 100%;
}

.text-a {
  text-decoration: none;
  color: #1a83e6;
}

.text-a:hover {
  text-decoration: underline;
}

@media screen and (max-height: 540px) {
  .form {
    margin-top: 5px;
  }
  .input-box {
    height: 46px;
  }
  .button {
    margin-top: 10px;
  }
}

.icon-logo {
  color: #1b1212;
  font-size: 30px;
}
