* {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.titulo-h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.titulo-h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4285f4;
}

.form {
  margin-top: 25px;
}

.input-box {
  height: 52px;
  margin: 18px 0;
}

.input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #4285f4;
}

.button {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  background: #4285f4;
  cursor: pointer;
}

.button:hover {
  background: #1367f1;
}

.text-a {
  text-decoration: none;
  color: #1a83e6;
}

.text-a:hover {
  text-decoration: underline;
}

@media screen and (max-height: 590px) {
  .wrapper {
    padding: 20px 34px 20px 34px;
  }
  .input-box {
    height: 45px;
  }
  .form {
    margin-top: 5px;
  }
}
